:root {
    --bodyBg: #141D2F;
    --mainBg: #1E2A47;
    --black: #fff;
    --malla1: #FFF;
    --malla2: #FFF;
    --blue: #0079ff;
    --howerLight: #90A4D4;
    --box_shadow: none;
    --red: red;
    --blueHov: #60abff;
}