:root {
    --bodyBg: #f6f8ff;
    --malla1: #697c9a;
    --mainBg: #fefefe;
    --black: #2b3442;
    --malla2: #4b6a9b;
    --blue: #0079ff;
    --blueHov: #60abff;
    --howerLight: #222731;
    --red: red;
    --box_shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}